:root {
	--dark: #212529;
	--light: #f8f9fa;
	--blue: #1d4ed8;
	--gray: #CED4DA;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
	background-color: var(--dark);
}
