:root {
	--gray-600: #29292E;
	--gray-100: #f4f4f5;

	--green-900: #4A752C;
	--green-100: #C9FB6A;

	--gold: #FBBA00;
	--red: #F23607;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
}
