header {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	background-color: var(--light);
	padding: 1rem;
}

header div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

header select, header div p {
	color: var(--dark);
	font-weight: bold;
}

header select {
	padding: 0.5rem;
	border-radius: 0.25rem;
	outline: none;
	font-weight: 500;
	font-size: 1rem;
}

header div p {
	font-size: 1.25rem;
	border-radius: 0.25rem;
}

#clock {
	justify-content: center;
}

#bombs {
	justify-content: end;
}
